.campo-texto {
    margin:24 px 0;
}
.campo-texto label {
   display:block;
   margin-bottom: 8px;
   font-size: 24px;
}

.campo-texto input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba (0,0,0,0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding:24px;
  box-sizing: border-box;
}

.form {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.formulario form{
  max-width: 80%;
  background-color: blueviolet;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(34, 34, 233, 0);
}